<% include ../partials/header %>
<!-- includes header -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">yelp camp</p>
      <div class="list-group">
        <li class="list-group-item active">info 1</li>
        <li class="list-group-item">info 2</li>
        <li class="list-group-item">info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="img-thumbnail">
        <img class="img-fluid" src="<%= campground.image %>" alt="image" />
        <div class="figure-caption d-flex justify-content-between card-body">
          <h4><a href="/"><%= campground.name %></a></h4>
          <h4>$9.00/night</h4>
        </div>
        <p class="card-body"><%= campground.description %></p>
      </div>
      <div class="bg-secondary card-body mt-4">
        <div class="text-right mb-4">
          <a
            class="btn btn-sm btn-success"
            href="/campgrounds/<%= campground._id %>/comments/new"
            >Add New Comment</a
          >
        </div>
        <% campground.comments.forEach((comment) => { %>
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-between">
                <strong><%= comment.author.username %></strong>
                <span>10 days ago</span>
              </div>
              <p><strong> </strong><%= comment.text %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<!-- includes footer -->
<% include ../partials/footer %>
